{% extends 'appCore/base.html' %}
{% block title%} MGM - Administracion Clientes {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="title-sec">
    <h2>Administración de clientes</h2>
</section>
<section class="clientes-sec">
<!-- aca iria el listado de clientes-->
    <div class="div-clientes">
        <table border="1" class="div-clientes__table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes_list %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td class="opts-cliente-table">
                            <a href="{% url 'modcliente' cliente.id_cliente %}">
                                <button>Modificar</button>
                            </a>
                            <form action="{% url 'delcliente' cliente.id_cliente %}" method="post" onsubmit="return confirmarEliminacion()">
                                {% csrf_token %}
                                <button class="opt-cliente-del-btn" type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="options-clientes">
        <a href="{% url 'addcliente' %}">
            <button>Agregar cliente</button>
        </a>
    </div>
</section>
<script type="text/javascript">
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este cliente?");
    }
</script>
{% endblock %}