{% extends 'appCore/base.html' %}
{% block title%} MGM - Registrar Categoria {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="title-sec">
    <h2>Registrar Categoria</h2>
</section>
<section class="clientes-addmod-form-sec">
    <div class="clientes-addmod-form-sec__div">
        <h3> Complete los datos de la categoria</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'categorias' %}">Cancelar</a>
    </div>
</section>
{% endblock %}