{% extends 'appCore/base.html' %}
{% block title%} MGM - Registrar Productos {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="title-sec">
    <h2>Registrar Productos</h2>
</section>
<section class="productos">
    <div class="productos-addmod-form-sec__div">
        <h3> Complete los datos del producto</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'productos' %}">Cancelar</a>
    </div>
</section>
{% endblock %}