{% extends 'appCore/base.html' %}
{% block title%} MGM - Administracion Categorias {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="title-sec">
    <h2>Administración de Categorias de productos</h2>
</section>
<section class="main-sec">
    <div class="main-sec__div">
        <table border="1" class="main-sec_div__table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in listado_categorias %}
                    <tr>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td class="opts-table">
                            <a href="{% url 'modcategorias' categoria.id_categoria %}">
                                <button class="mod-button" >Modificar</button>
                            </a>
                            <form action="{% url 'delcategorias' categoria.id_categoria %}" method="post" onsubmit="return confirmarEliminacion()">
                                {% csrf_token %}
                                <button class="del-button" type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="options">
        <a href="{% url 'addcategorias' %}">
            <button>Agregar categoria</button>
        </a>
        <a href="{% url 'productos' %}">
            <button>Volver</button>
        </a>
    </div>
</section>
<script type="text/javascript">
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar esta categoria?");
    }
</script>
{% endblock %}