{% extends 'appCore/base.html' %}
{% block title%} MGM - Inicio {% endblock %}
{% block content %}
<section class="hero-sec">
    <h2>MGM - Ventas</h2>
    <h2>Bienvenido {{ user.first_name}} !</h2>
    <div class="date-user-div">
        <p>Usuario logueado: {{user.username}}</p>
        <p>Fecha: {% now "d/m/Y" %}</p>
    </div>
</section>
<section class="opciones-sec">
    <div class="opciones-container">
        <ul>
            <li>
                <a href="#">Gestion de Ventas</a>
            </li>
            <li>
                <a href="{% url 'clientes'%}">Administración de Clientes</a>
            </li>
            <li>
                <a href="{% url 'productos' %}">Administración  de Productos</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}