body{
    background-color: rgb(216, 255, 253);
}

/* --- credenciales card (login y register) ---*/
.cred-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cred-container{
    width: 25%;
    margin: 20px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px; 
}
.cred-container h3{
    text-align: center;
    margin: 10px;
}
.cred-form button{
    background-color: rgb(0, 174, 255);
    border: solid 1px black;
    border-radius: 5px;
    padding: 0px 20px;
}

/*------------home---------------*/
/* Sección Hero */
.hero-sec {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #0071f3, #00aeff);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-sec h2 {
    margin: 0px 30px;
    font-size: 36px;
    font-weight: bold;
}

.date-user-div {
    text-align: center;
    margin: 0px 30px;
    font-size: 18px;
    font-weight: 300;
}

/* Sección de Opciones */
.opciones-sec {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones-container ul {
    list-style-type: none;
    padding: 0px;
}

.opciones-container li {
    margin-bottom: 15px;
}

.opciones-container li:last-child{
    margin-bottom: 0px;
}

.opciones-container a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    background-color: rgb(0, 174, 255);
    border-radius: 5px;
    text-align: center;
    padding: 12px 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.opciones-container ul li a:hover {
    background-color: #0071f3;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


/* -------------- templates administracion de clientes ---------------- */
/* --- principal ----------------------------*/
.title-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.clientes-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilos de tabla clientes */
.div-clientes{
    margin: 20px;
    border: solid 1px black;
    width: 90%;
    height: 50vh;
    overflow-y: auto;
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.div-clientes__table{
    border: none;
    width: 100%;
    border-collapse: collapse;
}
.div-clientes__table th,
.div-clientes__table td {
    border: 1px solid #ddd; 
    padding: 12px;
    text-align: left; 
}

.div-clientes__table th {
    background-color: #f2f2f2; 
    position: sticky; 
    top: 0; 
    z-index: 1;
    font-weight: bold; 
}

.div-clientes__table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.div-clientes__table tr:hover {
    background-color: #f1f1f1; 
}

td button{
    border-radius: 10px;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    
}
.opts-cliente-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-clientes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.options-clientes button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}

/* --- add y mod clientes -------------- */
/* Sección del título */
.title-sec {
    text-align: center;
    margin-bottom: 20px;
}

.title-sec h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

/* Sección del formulario add y mod */
.clientes-addmod-form-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clientes-addmod-form-sec__div {
    display: flex;
    flex-direction: column;
}
.clientes-addmod-form-sec__div form{

}


/* -------------- templates administracion de clientes ---------------- */
/* --- principal ----------------------------*/
.title-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.productos-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Estilos de tabla productos */
.div-productos{
    margin: 20px;
    border: solid 1px black;
    width: 90%;
    height: 50vh;
    overflow-y: auto;
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.div-productos__table{
    border: none;
    width: 100%;
    border-collapse: collapse;
}
.div-productos__table th,
.div-productos__table td {
    border: 1px solid #ddd; 
    padding: 12px;
    text-align: left; 
}

.div-productos__table th {
    background-color: #f2f2f2; 
    position: sticky; 
    top: 0; 
    z-index: 1;
    font-weight: bold; 
}

.div-productos__table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.div-productos__table tr:hover {
    background-color: #f1f1f1; 
}

td button{
    border-radius: 10px;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    
}
.opts-producto-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-producto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.options-producto button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}
